@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marker-color-ingredients: hsl(14, 45%, 36%);
  --text-color-ingredients: hsl(30, 10%, 34%);
  --marker-color-time: hsl(332, 51%, 32%);
  --text-color-time: hsl(230, 10%, 34%);
  --marker-color-instructions: hsl(14, 45%, 36%);
  --text-color-instructions: hsl(330, 10%, 34%);
}

body {
  @apply bg-egg md:py-28
}

.custom-list-time {
  list-style-type: disc;

  li {
    color: var(--text-color-time);
    padding-left: 14px;
  }

  li::marker {
    color: var(--marker-color-time);
  }
}

/* Utilizarea variabilelor în stilurile tale */
.custom-list-ingredients {
  list-style-type: disc;

  li {
    color: var(--text-color-time);
    padding-left: 14px;
  }

  li::marker {
    color: var(--marker-color-ingredients);
  }
}

.custom-list-instructions {
  list-style-type: decimal;

  li {
    color: var(--text-color-instructions);
    padding-left: 14px;
  }

  li::marker {
    color: var(--marker-color-instructions);
    font-weight: 600;
  }
}